eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    enabled: true
spring:
  application:
    name: waffle-api-blog
  profiles:
    active: prod
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
server:
  port: 8081
ribbon:
  ReadTimeout: 6000
  ConnectTimeout: 6000
  OkToRetryOnAllOperations: false
feign:
  hystrix:
    enabled: true
  okhttp:
    enabled: true
  client:
    config:
      feignName:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: full
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds:  6000

management:
  endpoints:
#    enabled-by-default: true
    web:
      exposure:
        include: '*'
application:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/freedom-blog?autoReconnect=true&useUnicode=true&characterEncoding=utf8&useSSL=true
    username: root
    password: 123456
    driver-class: com.mysql.jdbc.Driver
logging:
  level:
    -root: info