# eureka config
eureka:
  instance:
    appname: waffle-oauth-center
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    enabled: false
# server port
server:
  port: 8083
# spring config
spring:
  application:
    name: waffle-oauth-center
  profiles:
    active: dev
  redis:
    host: 127.0.0.1
    database: 0
  datasource:
    url: jdbc:mysql://39.104.107.185:3306/oauth-center?autoReconnect=true&useUnicode=true&characterEncoding=utf8&useSSL=true
    username: oauth
    password: oauth
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
# log
logging:
  level:
    -org.springframework.security: debug
# application

