<section class="latest-post">
  <h3 class="txt-c">Latest From The Blog</h3>
  <span class="line"></span>
  <mat-grid-list cols="3" rowHeight="500px">
    <mat-grid-tile [colspan]="1">
      <mat-card class="card-content">
        <img mat-card-image src="../../../assets/img/pic.jpg">
        <mat-card-content>
          <h3>title</h3>
          <p>2018-8-29</p>
        </mat-card-content>
        <mat-card-actions class="icon-content">
          <mat-icon svgIcon="forward"></mat-icon><span>121</span>
          <mat-icon svgIcon="view"></mat-icon><span>275</span>
          <mat-icon svgIcon="comment"></mat-icon><span>12</span>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-card class="card-content">
        <img mat-card-image src="../../../assets/img/pic.jpg">
        <mat-card-content>
          <h3>title</h3>
          <p>2018-8-29</p>
        </mat-card-content>
        <mat-card-actions class="icon-content">
          <mat-icon svgIcon="forward"></mat-icon><span>121</span>
          <mat-icon svgIcon="view"></mat-icon><span>275</span>
          <mat-icon svgIcon="comment"></mat-icon><span>12</span>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <mat-card class="card-content">
        <img mat-card-image src="../../../assets/img/pic.jpg">
        <mat-card-content>
          <h3>title</h3>
          <p>2018-8-29</p>
        </mat-card-content>
        <mat-card-actions class="icon-content">
          <mat-icon svgIcon="forward"></mat-icon><span>121</span>
          <mat-icon svgIcon="view"></mat-icon><span>275</span>
          <mat-icon svgIcon="comment"></mat-icon><span>12</span>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>